* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

header h2 {
  padding: 2rem;
}

#logo {
  text-decoration: none;
  color: #000000;
}

.search-form {
  padding: 2rem;
  display: flex;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid #344e97;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: #344e97;
  color: #ffffff;
  cursor: pointer;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  padding: 0.5rem 0rem;
}

.gallery-info a {
  color: #344e97;
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 3rem;
  background: #344e97;
  color: #ffffff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.result-text {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0rem;
}

@media only screen and (max-width: 430px) {
  .gallery {
    width: 100%;
  }

  .gallery-info {
    justify-content: space-evenly;
  }
}